@use "./variables" as *;
@use "./mixins" as *;

/* Contact page styles */

/* Header styles */

.header-contact {
    background-image: url(../assets/contact-image.jpg);
    background-position: 0;
    h1 {
        right: 30%;
    }
}

/* Contact section */

.contact-section {
    background-color: $pale-mauve;
    padding-top: 20px;
    height: 100%;
    transition: 0.5;
    .mobile-column {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        @include mq('tablet') {
            flex-direction: row;
            text-align: left;
        }
        .contact-info {
                flex-direction: column;
                // margin-bottom: -30px;
                margin-bottom: 80px;
            .flexbox {
                justify-content: center;
                @include mq('tablet') {
                    margin-right: 100px;
                }
            }
            h3 {
                margin-top: 2vh;
                font-size: 1.4rem;
            }
            p {
                margin: 5px 0;
            }
        }
    }
}

i {
    display: inline-block;
    width: 25%;
    height: 100%;
    margin-top: 2vh;
}

.contact-position {
    padding-bottom: 80px;
    @include mq('tablet'){
        position: relative;
    }
    width: 100%;
    .contact-form {
        margin: 0 auto;
        width: 90%;
        box-shadow: -30px 30px $orange;
        @include mq('tablet') {
            width: calc(50vw - 10%);
        }
        @include mq('tablet'){
            position: absolute;
            bottom: 5vh;
        }
        form {
            background-color: $white;
            padding: 40px;
            input,
            textarea {
                width: 100%;
            }
            input {
                @include form-input(none);
            }
            input:focus,
            textarea:focus {
                outline: 0;
            }
            textarea {
                @include form-textarea(15vh);
            }
            #name {
                margin-right: 10px;
            }
            #email {
                margin-left: 10px;
            }
            textarea {
                margin: 10px 0;
            }
            button {
                @include form-button(100%);
            }
        }
    }
}