@use "./variables" as *;

// Form mixins
@mixin form-input($border) {
    border: $border;
    border-bottom: 1px solid $orange;
    background-color: transparent;
}

@mixin form-textarea($height) {
    border: 1px solid $orange;
    background-color: transparent;
    height: $height;
}

@mixin form-button($width) {
    display: flex;
    width: $width;
    justify-content: center;
    margin: 20px 0;
}

// Media query mixins
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin mqv($height, $type: min) {
    @if map_has_key($breakpoints, $height) {
        $height: map_get($breakpoints, $height);
        @if $type == max {
            $height: $height - 1px;
        }
        @media only screen and (#{$type}-height: $height) {
            @content;
        }
    }
}