/* Style guide colors, fonts, and box shadow */

$plum-purple: #4C0341;
$orange: #FE6F19;
$white: #FFF;
$black: #0D0D0D;
$brown-red: #882C07;
$pale-mauve: #FAE5FF;
$pompiere: 'Pompiere', cursive;
$lato: 'Lato', sans-serif;
$box-shadow: 20px 20px $orange;

/* Media query breakpoint variables */

$breakpoints: (
    'phone':        400px,
    'phone-wide':   480px,
    'phablet':      560px,
    'tablet-small': 640px,
    'tablet':       768px,
    'tablet-wide':  1024px,
    'desktop':      1248px,
    'desktop-wide': 1440px,
    'extra-size':   1550px,
);

