html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Style guide colors, fonts, and box shadow */
/* Media query breakpoint variables */
/* Global & Wrapper Styles */
html {
  font-family: "Lato", sans-serif;
  background-color: #FFF;
  color: #0D0D0D;
}

body {
  font-size: 125%;
}

header {
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

section {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: #0D0D0D;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

i {
  margin-right: 20px;
}

button {
  background-color: #882C07;
  color: #FFF;
  border: none;
  padding: 10px;
  margin: 0 auto;
}
@media only screen and (min-width: 560px) {
  button {
    width: 30%;
  }
}

.header-contact,
.header-blog {
  height: 80vh;
}
@media only screen and (min-width: 1024px) {
  .header-contact,
  .header-blog {
    height: 100vh;
  }
}
.header-contact h1,
.header-blog h1 {
  position: absolute;
  top: 35vh;
  margin: 0 auto;
  text-transform: uppercase;
}
@media only screen and (min-width: 1024px) {
  .header-contact h1,
  .header-blog h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* Typography styles */
h1, h2, h3, h4, h5, h6,
.nav-bar p {
  margin: 0;
  color: #4C0341;
  font-family: "Pompiere", cursive;
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.header-index h1 {
  font-size: 5.5rem;
  line-height: 64px;
  word-spacing: 100%;
}

.header-blog h1,
.header-contact h1 {
  font-size: 3rem;
}
@media only screen and (min-width: 560px) {
  .header-blog h1,
  .header-contact h1 {
    font-size: 4rem;
    line-height: 92px;
  }
}

h2 {
  font-size: 2.6rem;
}

h2 {
  letter-spacing: 0.6rem;
}

.iconbox h2 {
  letter-spacing: 0.8rem;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 0.65rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.65rem;
}

.nav-bar p {
  font-size: 1.79rem;
  line-height: 36px;
  letter-spacing: 0.55rem;
}

.nav-bar a,
p,
button {
  font-size: 1rem;
}

.nav-bar a {
  font-weight: 700;
  letter-spacing: 0.5rem;
  line-height: 29px;
}

footer p,
button {
  line-height: 32px;
}

button {
  letter-spacing: 0.05rem;
}

.fa {
  font-weight: 400;
  font-size: 3rem;
  color: #4C0341;
}

/* Nav-Bar styles */
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav-bar .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
}

/* Main nav styles */
.main-nav {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .main-nav {
    display: block;
  }
}
.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.main-nav ul li {
  padding: 30px 0 10px 10px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.main-nav ul a {
  padding: 10px;
  text-align: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.main-nav ul .current-page,
.main-nav ul a:hover,
.main-nav ul a:active,
.main-nav ul a:focus {
  color: #FFF;
  background-color: #4C0341;
}

/* Hamburger nav styles */
.hamburger-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}
@media only screen and (min-width: 1024px) {
  .hamburger-wrap {
    display: none;
  }
}
.hamburger-wrap #hamburger {
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}
.hamburger-wrap ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.hamburger-wrap ul li {
  text-align: end;
  padding: 0;
  margin: 10px 0;
  text-transform: uppercase;
}
.hamburger-wrap ul li a {
  color: #4C0341;
  background-color: #FFF;
  display: inline-block;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hamburger-wrap ul li .current-page,
.hamburger-wrap ul li a:hover,
.hamburger-wrap ul li a:active,
.hamburger-wrap ul li a:focus {
  color: #FFF;
  background-color: #4C0341;
}

.hamburger-wrap:hover i,
.hamburger-wrap:active i,
.hamburger-wrap:focus i {
  padding-top: 6px;
  margin-right: 2px;
}
.hamburger-wrap:hover ul,
.hamburger-wrap:active ul,
.hamburger-wrap:focus ul {
  display: inline-block;
  z-index: 2;
}

/* Footer styles */
footer {
  display: inline-block;
  text-align: center;
  background-color: #882C07;
  color: #FFF;
  width: 100%;
}

/* Home page styles */
/* Header styles */
.header-index {
  background-image: url(../assets/header-image.jpg);
}
.header-index .wrapper {
  position: relative;
}
@media only screen and (min-width: 560px) {
  .header-index .wrapper {
    position: static;
  }
}
.header-index h1 {
  margin-top: 40px;
  width: 100%;
}

@media only screen and (min-width: 560px) {
  span {
    display: block;
  }
}

.header-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  position: absolute;
  top: 25vh;
}
@media only screen and (min-width: 560px) {
  .header-content {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}
.header-content h1 {
  margin: 0 auto;
  padding-top: 60px;
}
@media only screen and (min-width: 560px) {
  .header-content h1 {
    padding-top: 0px;
  }
}
.header-content figure {
  margin: 0 auto;
  padding: 200px 50px 0 50px;
  top: 15vh;
}
@media only screen and (min-width: 560px) {
  .header-content figure {
    position: relative;
    padding-top: 80px;
    top: 25vh;
    margin-left: auto;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

/* Section styles */
/* About section */
.about {
  background-color: #FAE5FF;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 0 0;
}
@media only screen and (min-width: 560px) {
  .about {
    padding: 50px 0;
  }
}
.about .flexbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 140px 0 140px;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 560px) {
  .about .flexbox {
    width: 70%;
  }
}
.about button {
  background-color: #4C0341;
}

/* New additions & too many options section */
.new-too-section {
  padding: 30px 0 30px 0;
}

.new-too-section .wrapper,
.new-too {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 1024px) {
  .new-too-section .wrapper,
  .new-too {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.new-too h3,
.new-too p {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .new-too .new-too-breakout1,
  .new-too .new-too-breakout2 {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .new-too .new-too-breakout1 figure,
  .new-too .new-too-breakout2 figure {
    position: absolute;
  }
}
.new-too .new-too-breakout1 {
  bottom: 10vh;
}
.new-too .new-too-breakout2 {
  top: 10vh;
}
.new-too .flexbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.new-too figure img {
  -webkit-box-shadow: 20px 20px #FE6F19;
          box-shadow: 20px 20px #FE6F19;
}
.new-too .reverse-box img {
  -webkit-box-shadow: -20px 20px #FE6F19;
          box-shadow: -20px 20px #FE6F19;
}

.new-too .flexbox {
  margin: 35px 30px 25px 30px;
}
@media only screen and (min-width: 1024px) {
  .new-too .flexbox {
    width: 50%;
    margin: 50px;
  }
}

.options {
  text-align: right;
}

/* Icon contact section */
.icon-contact {
  background-color: #FAE5FF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .icon-contact {
    padding: 145px 0 40px 0;
  }
}
.icon-contact .flexbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .icon-contact .flexbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.icon-contact i {
  padding: 10px;
}
@media only screen and (min-width: 1024px) {
  .icon-contact i {
    padding: 0;
  }
}

.iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.iconbox h2 {
  display: block;
}
.iconbox p {
  display: inline-block;
}

/* Popular this month */
.popular-section {
  padding: 30px 0 40px 0;
}

.popular-div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 1024px) {
  .popular-div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.popular-div figure {
  display: block;
  max-width: 40%;
  margin: 30px 0;
}
.popular-div figure img {
  -webkit-box-shadow: 20px 20px #FE6F19;
          box-shadow: 20px 20px #FE6F19;
}

.popular-typography {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .popular-typography {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    margin: 30px 0 30px 50px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
  .popular-typography button {
    margin: 0;
  }
}

/* Gallery styles */
.gallery-section {
  background-color: #FAE5FF;
}
.gallery-section figure {
  margin: 30px auto;
}
@media only screen and (min-width: 768px) {
  .gallery-section figure {
    margin: 50px 30px;
    width: calc(33.3333333333% - 60px);
  }
}
.gallery-section .flexbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .gallery-section .flexbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* Blog page styles */
/* Header styles */
.header-blog {
  background-image: url(../assets/blog-header.jpg);
  background-color: #FAE5FF;
  margin-bottom: 30px;
}
.header-blog h1 {
  right: 45%;
}

/* Blog post section */
.blog-main {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background-color: #FAE5FF;
}
.blog-main .flexbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .blog-main .blog-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -30px;
  }
}
@media only screen and (min-width: 1550px) {
  .blog-main .blog-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .blog-main h2 {
    margin-top: -32%;
  }
}
@media only screen and (min-width: 768px) {
  .blog-main h2 {
    margin-top: -20%;
  }
}

.blog-section,
aside {
  background-color: #FFF;
}

@media only screen and (min-width: 768px) {
  .blog-section {
    width: 55%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    top: 70vh;
    height: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1550px) {
  .blog-section {
    position: relative;
    top: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1550px) {
  .blog-section figure {
    position: relative;
  }
}
.blog-section figure img {
  -webkit-box-shadow: -20px 20px #FE6F19;
          box-shadow: -20px 20px #FE6F19;
}
@media only screen and (min-width: 1550px) {
  .blog-section figure img {
    position: absolute;
    top: -450px;
  }
}
.blog-section h2 {
  margin: 50px 30px;
}
.blog-section p {
  margin: 30px;
}

/* Blog comment section */
.comment {
  padding-top: 30px;
}
@media only screen and (min-width: 768px) {
  .comment {
    width: 55%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 30px;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1550px) {
  .comment {
    width: 100%;
    padding-left: 45%;
    margin-top: 250px;
  }
}
.comment .flexbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.comment figure {
  min-width: 20%;
  margin: 20px 15px 0 0;
}

.iconbox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.iconbox .bold-comment {
  font-weight: bold;
}
.iconbox .flexbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-form {
  margin: 0 auto;
  padding-top: 30px;
}
@media only screen and (min-width: 768px) {
  .comment-form {
    width: 100%;
    margin: 40px auto 0 auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media only screen and (min-width: 1550px) {
  .comment-form {
    padding-left: 0;
  }
}
.comment-form form input,
.comment-form form textarea {
  width: 100%;
}
.comment-form form input {
  border: none;
  border-bottom: 1px solid #FE6F19;
  background-color: transparent;
}
.comment-form form input:focus,
.comment-form form textarea:focus {
  outline: 0;
}
.comment-form form textarea {
  border: 1px solid #FE6F19;
  background-color: transparent;
  height: 15vh;
}
.comment-form form #name {
  margin-right: 10px;
}
.comment-form form #email {
  margin-left: 10px;
}
.comment-form form textarea {
  margin: 10px 0;
}
.comment-form form button {
  background-color: #4C0341;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

/* Aside/sidebar */
aside {
  margin: 50px;
  padding: 50px;
}
@media only screen and (min-width: 768px) {
  aside {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 25%;
    position: relative;
    padding: 35% 50px 50px 50px;
  }
}
@media only screen and (min-width: 768px) {
  aside figure {
    width: 150%;
    position: absolute;
    top: 10px;
    right: 5%;
  }
}
@media only screen and (min-width: 1550px) {
  aside figure {
    right: -35%;
  }
}
aside ul {
  list-style: disc;
  margin-top: 10px;
}
aside h4 {
  margin: 20px 0 10px 0;
}

/* Contact page styles */
/* Header styles */
.header-contact {
  background-image: url(../assets/contact-image.jpg);
  background-position: 0;
}
.header-contact h1 {
  right: 30%;
}

/* Contact section */
.contact-section {
  background-color: #FAE5FF;
  padding-top: 20px;
  height: 100%;
  -webkit-transition: 0.5;
  transition: 0.5;
}
.contact-section .mobile-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) {
  .contact-section .mobile-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}
.contact-section .mobile-column .contact-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}
.contact-section .mobile-column .contact-info .flexbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 768px) {
  .contact-section .mobile-column .contact-info .flexbox {
    margin-right: 100px;
  }
}
.contact-section .mobile-column .contact-info h3 {
  margin-top: 2vh;
  font-size: 1.4rem;
}
.contact-section .mobile-column .contact-info p {
  margin: 5px 0;
}

i {
  display: inline-block;
  width: 25%;
  height: 100%;
  margin-top: 2vh;
}

.contact-position {
  padding-bottom: 80px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .contact-position {
    position: relative;
  }
}
.contact-position .contact-form {
  margin: 0 auto;
  width: 90%;
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
}
@media only screen and (min-width: 768px) {
  .contact-position .contact-form {
    width: calc(50vw - 10%);
  }
}
@media only screen and (min-width: 768px) {
  .contact-position .contact-form {
    position: absolute;
    bottom: 5vh;
  }
}
.contact-position .contact-form form {
  background-color: #FFF;
  padding: 40px;
}
.contact-position .contact-form form input,
.contact-position .contact-form form textarea {
  width: 100%;
}
.contact-position .contact-form form input {
  border: none;
  border-bottom: 1px solid #FE6F19;
  background-color: transparent;
}
.contact-position .contact-form form input:focus,
.contact-position .contact-form form textarea:focus {
  outline: 0;
}
.contact-position .contact-form form textarea {
  border: 1px solid #FE6F19;
  background-color: transparent;
  height: 15vh;
}
.contact-position .contact-form form #name {
  margin-right: 10px;
}
.contact-position .contact-form form #email {
  margin-left: 10px;
}
.contact-position .contact-form form textarea {
  margin: 10px 0;
}
.contact-position .contact-form form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}